@page "/events"
@using Microsoft.AspNetCore.SignalR.Client
@using System.Text.Json;
@rendermode InteractiveServer

<h3>Live Events</h3>

<ul>
    @foreach (var evt in events)
    {
        <li>
            <b style="color:@GetColor(evt.Type)">@evt.Type</b> - @evt.Timestamp
            <pre>@JsonSerializer.Serialize(value: evt.Data, options: new() { WriteIndented = true })</pre>
        </li>
    }
</ul>

@code {

    private List<EventViewModel> events = new();

    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5130/eventsHub") // backend URL
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<EventViewModel>("ReceiveEvent", evt =>
        {
            events.Insert(0, evt);

            if (events.Count > 100)
                events.RemoveAt(events.Count - 1);

            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private string GetColor(string eventType)
    {
        switch (eventType)
        {
            case "Test":
                return "yellow";
            default:
                return "black";
        }
    }

    public class EventViewModel
    {
        public string Type { get; set; } = "";
        public DateTime Timestamp { get; set; }
        public object Data { get; set; } = default!;
    }
}