@page "/events/test"
@rendermode InteractiveServer
<h3>Test Event</h3>

@inject IHttpClientFactory HttpFactory

<button class="btn btn-primary" @onclick="SendTestEvent">Send Test Event</button>

<p role="status">Current count: @currentCount</p>

@code {
    private int currentCount = 0;

    private async void SendTestEvent()
    {
        currentCount++;
        var client = HttpFactory.CreateClient("api");

        await client.PostAsJsonAsync("api/events/test", new
        {
            Message = "MANUAL PING"
        });
    }
}